<!-- <suite parallel="classes" name="Suite"> -->
<!--   <test thread-count="5" parallel="classes" name="Test"> -->
<!--     <classes> -->
<!--       <class name="Test.Ancera.Login.ForgotPassword"/> -->
<!--     </classes> -->
    
<!--         <classes> -->
<!--       <class name="Test.Ancera.Login.TestLogin"/> -->
<!--     </classes> -->
    
<!--   </test> Test -->
<!-- </suite> Suite -->





<suite thread-count="50" verbose="5" name="Test.Ancera.Login" parallel="tests">
<!--  <test thread-count="5" name="Test.Ancera.Login1" parallel="classes"> -->
<!--     <classes> -->
<!--     <class name="Test.Ancera.Login.ForgotPassword"/> -->
<!--       <class name="Test.Ancera.Login.TestLogin"/> -->
      
<!--     </classes> -->
<!--   </test>  -->

<!--         <test name="Test.Ancera.Login1"> -->
<!--     <classes> -->
<!--     <class name="Test.Ancera.Login.TestLogin"/> -->
<!--     <class name="Test.Ancera.Login.ForgotPassword"/> -->
<!--     </classes> -->
<!--   </test>  -->

      <test name="Test.Ancera.Login1">
    <classes>
    <class name="Test.Ancera.Login.TestLogin"/>
    </classes>
  </test> 
  
  
</suite> 
